body{
    font-family: sans-serif;
    align-items: center;
    background: linear-gradient(#BCD8F8 11%, #86B6EC 43%, #619BDE 63%);
}
.container-nama{
    color: black;
    background: #F9C0BF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    width: fit-content; 
    max-width: 95%;
    min-width: 30%;
    max-height: 30px;
    top: -20px;
    right: 30px;
    font-size: 15px;
    position: absolute;
    z-index: 2;
}
.kotaknama{
    position: absolute;
    width: 100%;
}
.nama2{
    left: 35px;
}
.nama{
    position: relative;
    display: flex;
    font-weight: bold;
    font-size: 15px;
}
.wrap{
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    min-width: 70%;
    max-width: 100%;
    margin: 30px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    background: white;
    color: black;
}
.donate{
    margin: 0 auto 30px auto;
    min-width: 50%;
    background: none;
    border: 2px solid white;
    box-shadow: 0px 1px 3px 0px white;
}
.second{
    float: right;
}
.third{
    float: right;
    background:white url(img/bg.svg) no-repeat;
    background-size: cover;
}
.container-teks{
    font-weight: bold;
    margin: 0px 25px 0px 45px;
    font-size: 12px;
    z-index: 2;
}
.container-teks-donate{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    z-index: 2;
}
.icone{
    position: absolute;
    bottom: 23px;
    left: -20px;
}
.kodok{
    position: absolute;
    right: -13px;
    top: 7px;
}
.bungari{
    position: absolute;
    left: 0px;
    bottom: -4px;
}
.bungari2{
    position: absolute;
    left: -2px;
    bottom: -3px;
}
.bunganan{
    position: absolute;
    right: -3px;
    bottom: -1px;
}
.bt{
    position: absolute;
    right: -30px;
    top: -55px;
}
.profile{
    position: absolute;
    left: -48px;
}
.profile2{
    position: absolute;
    right: -48px;
}