body {
    font-family: sans-serif;
    background: #ffffff;
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    gap: 65px;                  
    padding: 20px;             
    min-height: 100vh;         
}
.container-nama{
    color: #ffffff;
    background: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: fit-content;
    right: 5px;
    top: -35px;
    width: 40px;
    max-height: 15px;
    position: absolute;
    z-index: 2;
}
.bg-nama{
    position: absolute;
    width: 100%;
    height: auto;
    top: -5px;
}
.nama2{
    left: 5px;
}
.nama{
    position: relative;
    display: flex;
    overflow: hidden;
    font-weight: bold;
    font-size: 7px;
}
.wrap {
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    min-width: 60%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 0px;        
    border-radius: 5px;
    align-items: center;
    display: flex;
    outline: 5px solid #7cb25d8c;
    border: 1px dashed #ffffff;
    background: #7cb25d8c;
    color: #ffffff;
}
.donate {
    margin: 0 auto;      
    min-width: 60%;
    padding: 0px;
    background: none;
    border-radius: 15px;
    outline: none;
    border: 2px solid #5DB964;
}
.container-teks{
    font-weight: bold;
    margin: 0px 45px 0px 45px;
    font-size: 10px;
    z-index: 2;
}
.container-teks-donate{
    text-align: center;
    color: #2E5630;
    font-weight: bold;
    font-size: 15px;
    z-index: 2;
}
.tr{
    position: absolute;
    right: -10px;
    width: 25px;
    top: -15px;
}
.tr2{
    width: 80px;
    right: -8px;
    top: -15px;
}
.tr3{
    top: -10px;
}
.tr4{
    right: 5px;
    top: -10px;
}
.tr5{
    top: -30px;
    right: 45px;
}
.tr6{
    width: 80px;
    top: -35px;
    right: -25px;
}
.br{
    position: absolute;
    right: -15px;
    width: 80px;
    bottom: -20px;
}
.br2{
    width: 35px;
    right: -15px;
    bottom: -12px;
}
.br3{
    width: 50px;
    bottom: 2px;
    right: -12px;
}
.bl{
    position: absolute;
    width: 30px;
    left: -13px;
    bottom: -12px;
}
.bl2{
    width: 80px;
    left: -15px;
    bottom: -15px;
}
.bl3{
    bottom: -1px;
    left: -12px;
}
.bl4{
    width: 80px;
    bottom: -20px;
    left: -40px;
}
.bl5{
    bottom: -10px;
    left: -12px;
}
.tl{
    position: absolute;
    width: 80px;
    left: -17px;
    top: -16px;
}
.tl2{
    width: 35px;
    left: -15px;
    top: -20px;
}
.tl3{
    width: 50px;
    top: -32px;
    left: 20px;
}
.tl4{
    width: 50px;
    left: -12px;
    top: -20px;
}
.bg{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -55px;
    left: 0;
}
.mid{
    position: absolute;
    width: 80px;
    top: -55px;
}
.profile{
    position: absolute;
    width: 50px;
    left: -60px;
}
.profile2{
    position: absolute;
    width: 50px;
    right: -60px;
}
.nama-pengirim{
    color: #5DB964;
}