body{
    font-family: sans-serif;
    background: #3D3737;
}
.container-nama{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    width: fit-content; 
    max-width: 90%;
    min-width: 15%;
    max-height: 30px;
    left: 1px;
    top: -42px;
    font-size: 15px;
    position: absolute;
}
.nama{
    position: relative;
    display: flex;
    padding-bottom: 5px;
    font-size: 12px;
    color: #6E60FD;
    text-shadow: 0px 2px 5px #6E60FD;
}
.wrap{
    justify-content: center;
    background: none;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    min-width: 25%;
    max-width: 90%;
    padding-bottom: 20px;
    margin-top: 50px;
    display: flex;
    border: none;
    margin-left: 50px;
}
.kotak{
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: -1;
    left: -4px;
}
.donate{
    width: 80%;
    min-width: 50%;
    max-width: 70%;
    padding-bottom: 100px;
    animation:1s  popup ease-out forwards ;
    
}
@keyframes popup{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
}  
.teks-donate{
    bottom: 40px;
    right: 45px;
    position: absolute;
    font-size: 12px;
    color: #6E60FD;
    font-weight: bold;
    text-shadow: 0px 2px 5px #6E60FD;
}
.teks2-donate{
    top: -10px;
    left: 6px;
    position: absolute;
    font-size: 12px;
    color: #6E60FD;
    font-weight: bold;
    text-shadow: 0px 2px 5px #6E60FD;
}
.nama{
    font-weight: bold;
    font-size: 15px;
}
.container-teks{
    position: relative;
    font-weight: bold;
    margin: 0px 25px 0 20px;
    font-size: 12px;
    color: #6E60FD;
    text-shadow: 0px 2px 5px #6E60FD;
}
.love{
    position: absolute;
    left:-68px;
    top: -26px;
}
.pedang{
    position: absolute;
    right: -66px;
    top: 4px;
}
.p2{
    right: -72px;
    top: 6px;
} 
.icon{
    position: absolute;
    left: -38px;
    top: -5px;
}
.gambar{
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: -1;
}
.kotaknama{
    position: absolute;
    top: 8px;
    left: -6px;
    width: 120%;
    height: 80%;
    z-index: -1;
}
h4 img{
    z-index: 2;
}