body {
    font-family: sans-serif;
    background: #000;
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    gap: 40px;                  
    padding: 20px;             
    min-height: 100vh;         
}
.container-nama {
    color: #000;
    background: #FBBC9B;
    border: 1px solid #000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    min-width: 30%;
    max-width: 90%;
    max-height: 15px;
    position: absolute;
    right: 15px;
    top: -10px;
    z-index: 2;
}
.container-nama2 {
    color: #000;
    background: #FBBC9B;
    border: 1px solid #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    min-width: 30%;
    max-width: 90%;
    max-height: 15px;
    position: absolute;
    left: 15px;
    top: -10px;
    z-index: 2;
}
.container-nama3 {
    color: #000;
    background: #FBBC9B;
    border: 1px solid #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    min-width: 30%;
    max-width: 90%;
    max-height: 15px;
    position: absolute;
    left: 15px;
    top: -10px;
    z-index: 2;
}
.bg-nama{
    position: absolute;
    width: 100%;
    top: -4px;
}
.nama{
    position: relative;
    display: flex;
    font-weight: bold;
    font-size: 7px;
}
.wrap {
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    min-width: 60%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 15px;   
    border-radius: 25px;
    align-items: center;
    display: flex;
    border: 1px solid #000;
    background: #fff;
    color: #000;
}
.wrap2{
    color: #000000;
    border: 1px solid #fff;
    background: #FBBC9B;
}
.wrap3{
    color: #000000;
    border: 1px solid #fff;
    background: #FBBC9B;
}
.donate {
    margin: 0 auto;      
    min-width: 30%;
    padding: 0px;
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
}
.bg-donate{
    position: absolute;
    width: 100%;
}
.bg-donate2{
    position: absolute;
    width: 100%;
    top: -50px;
}
.container-teks{
    font-weight: bold;
    margin: 0px 45px 0px 45px;
    font-size: 10px;
    z-index: 2;
}
.container-teks-donate{
    text-align: center;
    color: #BE2F2F;
    font-weight: bold;
    font-size: 5px;
    z-index: 2;
}
.tr{
    position: absolute;
    right: -5px;
    width: 30px;
    top: -15px;
}
.tr2{
    width: 30px;
    right: -5px;
    top: -15px;
}
.tr3{
    width: 60px;
    top: -30px;
    right: -25px;
}
.tr4{
    right: 5px;
    top: -10px;
}
.tr5{
    top: -30px;
    right: 45px;
}
.tr6{
    width: 80px;
    top: -35px;
    right: -25px;
}
.br{
    position: absolute;
    right: -5px;
    width: 25px;
    bottom: -8px;
    z-index: 2;
}
.br2{
    width: 25px;
    right: -5px;
    bottom: -5px;
}
.br3{
    width: 25px;
    bottom: -5px;
    right: -5px;
}
.br4{
    width: 60px;
    right: -8px;
    bottom: -15px;
    z-index: 2;
}
.bl{
    position: absolute;
    width: 25px;
    left: -5px;
    bottom: -5px;
}
.bl2{
    width: 25px;
    left: -5px;
    bottom: -2px5
}
.bl3{
    width: 40px;
    bottom: -5px;
    left: -18px;
}
.bl4{
    width: 45px;
    bottom: -7px;
    left: -18px;
}
.bl5{
    bottom: -1px;
    left: -2px;
}
.tl{
    position: absolute;
    width: 25px;
    left: -2px;
    top: -10px;
}
.tl2{
    width: 50px;
    left: -20px;
    top: -25px;
}
.tl3{
    width: 50px;
    top: -32px;
    left: 20px;
}
.tl4{
    width: 50px;
    left: -12px;
    top: -20px;
}
.bg{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -55px;
    left: 0;
}
.mid{
    position: absolute;
    width: 100%;
    bottom: -2px;
    z-index: 1;
}
.icone{
    position: absolute;
    width: 12px;
    top: 7px;
    left: -16px;
    z-index: 3;
}
.icone2{
    position: absolute;
    width: 12px;
    top: 7px;
    right: -16px;
    z-index: 3;
}
.profile{
    position: absolute;
    width: 50px;
    left: -60px;
}
.profile2{
    position: absolute;
    width: 50px;
    right: -60px;
}
.nama-pengirim{
    color: #6B2727;
}
.garis{
    position: absolute;
    width: 104%;
    height: 120%;
    border-radius: 15px;
    top: -6px;
    left: -6px;
    border: 1px solid #6B2727;
}